@import "../node_modules/bootstrap";

  body{
    background-color: #F3E8FF;
  }

  .container-game{
    display: block; 
    margin-right: auto;
    margin-left: auto;
    margin-top: 7%;
    width: 100vw;
  }
 
  .container-tablero{
    display: block; 
    margin-right: auto;
    margin-left: auto;
    width: 300px;
  }

  .square {
    width: 100px;
    height: 100px;
    transition: transform 0.3s ease-in-out;
    border: 1px solid #aaaaaa;
    background-color: #fff;

  }

    .square:hover {
        transform: scale(1.02);
    }

    .container-x-o{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .text-card2{
        display: block;
        width: 100px;
    }

    .container-cards{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }