@import "../node_modules/bootstrap";

.container-game {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  width: 100vw;
}

.container-tablero {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 300px;
}

.square {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.pos-0 {
  border: none;
  border-right: 3px solid #dedede;
  border-bottom: 3px solid #dedede;
}

.pos-1 {
  border: none;
  border-right: 3px solid #dedede;
  border-bottom: 3px solid #dedede;
}

.pos-2 {
  border: none;
  border-bottom: 3px solid #dedede;
}

.pos-3 {
  border: none;
  border-bottom: 3px solid #dedede;
  border-right: 3px solid #dedede;
}

.pos-4 {
  border: none;
  border-bottom: 3px solid #dedede;
  border-right: 3px solid #dedede;
}

.pos-5 {
  border: none;
  border-bottom: 3px solid #dedede;
}

.pos-6 {
  border: none;
  border-right: 3px solid #dedede;
}

.pos-7 {
  border: none;
  border-right: 3px solid #dedede;
}

.container-mod-game {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  text-align: center;
  height: 100px;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}

.center {
  display: flex;
  justify-content: center;
}

.text-col1 {
  color: #35b7cd;
  font-size: 18px;
  font-weight: bold;
}

.text-col2 {
  color: #3684d1;
  font-size: 20px;
  font-weight: bold;
}

.custom-switch .form-check-input {
  width: 60px;
  height: 34px;
}

.text-x{
  color: #35b7cd;
  font-size: 27px;
  font-weight: bold;
}

.text-o{
  color: #3684d1;
  font-size: 27px;
  font-weight: bold;
}

.container-x-o{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100px;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}

.player{
  border: 2px solid #e1e4e4;
  width: 150px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 20px;
  text-align: center;
  color: #979797;
  font-size: 20px;
  font-weight: bold;
}

.btn-left{
  display: block;
  position: relative;
  width: 100px;
  text-align: center;
}

.btn-button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin-top: -10px;
  background-color: #A4B5B8;
  border: none;
  color: #fff;
}

.icon-infinity{
  margin-right: 5px;
  color: #35b7cd;
}


.btn-right{
  display: block;
  position: relative;
  width: 100px;
}

.icon-x{
  color: #35b7cd;
}

.icon-o{
  color: #3684d1;
}

.img-modal{
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}
/* telefono */
@media only screen and (max-width: 768px) {
  .container-game{
    margin-top: 80px;
  }

  .container-x-o{
    margin-top: 50px;
  }

  .container-info{
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 20px;
    width: 400px;
    margin-left: 10px;
  }

  
}

/* tablet o pc */
@media only screen and (min-width: 769px) {
  .container-info{
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 20px;
    width: 400px;
    margin-left: 35%;
  }
}